*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    padding: 24px;
    overflow: scroll;
    background-color: yellowgreen;
}

div{
    background-color: lightskyblue;
    border: 4px solid brown;
    height: 150px;
    width: 150px;
}