*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    opacity: 0.65;
}

div{
    height: 100px;
    width: 100px;
    border: 2px solid brown;
    background-color: yellow;
}

.item-1{
}
.item-2{
    position: absolute; */
    /* left: 100px; */
    top: 50%;
    left: 50%;
    background-color: green;
    z-index: 1;
    transform: translate(-50%, -50%);
}
.item-3{
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: red;
    z-index: 1;
    transform: translate(-50%, -50%);
}

